.profilJobSeekerExperience {
  top: 130px;
  min-height: 250px;
  margin: 30px;
}

.profilJobSeekerEducation {
  top: 130px;
  min-height: 250px;
}

.date {
  left: "55px";
  margin: "3px";
}

.profilJobSeekerEducationAddButton{
  position: relative;
  float: inherit;
  top: -48px;
  left: -190px;
}

.profilJobSeekerExperienceAddButton{
  position: relative;
  float: inherit;
  top: -48px;
  left: -85px;
}